*{
  margin: 0;
  padding: 0;
  text-decoration: none;
}
.container{
  display: flex;
}
main{
  width: 100%;
  padding: 20px;
}
.sidebar{
  width: 300px;
  background-color: whitesmoke;
  color: #fff;
  height: 100vh;
}
.top_section{
  display: flex;
  align-items: center;
  padding: 20px;
}
.logo{
  font-size: 25px;
  color: black;
}
.bars{
  display: flex;
  font-size: 25px;
  margin-left: 50%;
  color: black;

}
.link{
  display: flex;
  color: black;
  padding: 10px 15px;
  gap: 15px;
  transition: all 0.5s;
}
.link:hover{
  background: grey;
  color: whitesmoke;
  transition: all 0.5s;
}
.active{
  background: grey;
  color: whitesmoke;
}
.icon, .link_text{
  font-size: 20px;

}